<% if user_signed_in? %>
  <div class="center jumbotron", style="background-color: rgba(60, 60, 60, .5); margin-top: 0.5rem" >
    <% breadcrumb :check %>
    <h3 style="margin-bottom: 0.5rem" >FLASH CARDS</h3>
    <p style="margin-bottom: 0rem" >Check: Front -> Back</p>
    <p style="margin-bottom: 0rem">Ring: <% if !@ring.nil? %><%= @ring.ring_name %><% end %></p>
    <div class="content-center row">
    <% if !@card.nil? %>
      <% if @check_status =='question_view' %>
        <div class="col-md-12">
          <p style="margin-bottom: 0rem" >Question</p>
        </div>
        <div class="col-md-3"> </div>
        <div class="col-md-6" style="text-align:left; background-color: rgba(60, 60, 60, .5); padding: 10px 10px">
              <div class= "card card-body" style="color:#888; margin: 0px" >○ <%= @card_content %></div>
        </div>
        <div class="col-md-3"> </div>
        <div class="col-md-3"> </div>
        <div class="col-md-6" style="padding: 10px 10px">
          <%= link_to "Check Answer",{:controller=>'pages', :action=>'check_front', :method=> :get, :check_log_id=> @check_log.id, :ring_id=> @ring.id, :check_status=>'answer_view', :check_style=>'ox_front_back'}, {'data-turbolinks' => false, :class => 'btn btn-primary btn-lg btn-block'} %>
        </div>
        <div class="col-md-3"> </div>
      <% elsif @check_status =='answer_view' %>
        <div class="col-md-12">
          <p>Question: <%= @card_content_prev %></p>
          <p style="margin-bottom: 0rem" >Answer</p>
        </div>
        <div class="col-md-3"> </div>
          <div class="col-md-6" style="text-align:left; background-color: rgba(60, 60, 60, .5); padding: 10px 10px">
                <div class= "card card-body" style="color:#888; margin: 0px" >○ <%= @card_content %></div>
          </div>
        <div class="col-md-3"> </div>
        <div class="col-md-12" style="margin-top:10px; margin-bottom:0px; padding-bottom: 0px">
          <p style="margin-bottom: 0rem" >Did you answer correctly?</p>
        </div>
        <% if @check_log.solved_question < @check_log.total_question %>
          <div class="col-md-3"> </div>
          <div class="col-md-3" style="padding: 10px 10px">
            <%= link_to "○",{:controller=>'pages', :action=>'check_front', :method=> :get, :check_log_id=> @check_log.id, :ring_id=> @ring.id, :check_status=>'question_view', :check_style=>'ox_front_back', :result_of_question=>'true'}, {'data-turbolinks' => false, :class => 'btn btn-info btn-block', 'style' => 'font-size: 2.5em'} %>
          </div>
          <div class="col-md-3" style="padding: 10px 10px">
            <%= link_to "×",{:controller=>'pages', :action=>'check_front', :method=> :get, :check_log_id=> @check_log.id, :ring_id=> @ring.id, :check_status=>'question_view', :check_style=>'ox_front_back', :result_of_question=>'false'}, {'data-turbolinks' => false, :class => 'btn btn-danger btn-block', 'style' => 'font-size: 2.5em'} %>
          </div>
          <div class="col-md-3"> </div>
        <% else %>
          <div class="col-md-3"> </div>
          <div class="col-md-3" style="padding: 10px 10px">
            <%= link_to "○",{:controller=>'pages', :action=>'check_front', :method=> :get, :check_log_id=> @check_log.id, :ring_id=> @ring.id, :check_status=>'result_view', :check_style=>'ox_front_back', :result_of_question=>'true'}, {'data-turbolinks' => false, :class=>'btn btn-info btn-block', 'style' => 'font-size: 2.5em'} %>
          </div>
          <div class="col-md-3" style="padding: 10px 10px">
            <%= link_to "×",{:controller=>'pages', :action=>'check_front', :method=> :get, :check_log_id=> @check_log.id, :ring_id=> @ring.id, :check_status=>'result_view', :check_style=>'ox_front_back', :result_of_question=>'false'}, {'data-turbolinks' => false, :class=>'btn btn-danger btn-block', 'style' => 'font-size: 2.5em'} %>
          </div>
          <div class="col-md-3"> </div>
        <% end %>                
      <% elsif @check_status =='result_view' %>
      <div class="col-md-12">
        <p>Result</p>
      </div>
      <div class="col-md-1"> </div>
      <div class="col-md-5">
        <div style="text-align:left; background-color: rgba(60, 60, 60, .5); padding: 10px">
          <div class= "card card-body" style="background-color:#900; color:#fff; margin: 0px" >● <%= @ring.ring_name %></div>
        </div>
      </div>
      <div class="col-md-5">
        <div style="text-align:left; background-color: rgba(60, 60, 60, .5); padding: 10px">
          <div class= "card card-body" style="color:#888; margin: 0px;" >Check cards: <%= @check_log.total_question.to_s %></div>
        </div>
      </div>
      <div class="col-md-1"> </div>
      <div class="col-md-1"> </div>
      <div class="col-md-5">
        <div style="text-align:left; background-color: rgba(60, 60, 60, .5); padding: 10px">
          <div class= "card card-body" style="background-color:#2CA8FF; color:#fff; margin: 0px; font-size: 1.5em" >○: <%= @check_log.correct_question.to_s %></div>
        </div>
      </div>
      <div class="col-md-5">
        <div style="text-align:left; background-color: rgba(60, 60, 60, .5); padding: 10px">
          <div class= "card card-body" style="background-color:#FF3636; color:#fff; margin: 0px; font-size: 1.5em" >×: <%= @check_log.false_question.to_s %></div>
        </div>
      </div>
      <div class="col-md-1"> </div>
      <div class="col-md-12" style="margin-top: 10px;">
        <%= link_to 'Check again', pages_ring_select_for_check_path, class: 'btn btn-primary btn-block' %>
        <%= link_to 'Check Log', check_logs_index_path, class: 'btn btn-primary btn-block' %>
        <%= link_to "Top", root_url , class: 'btn btn-neutral btn-block'%>
      </div>
      <% else %>
        <p>Error:check_status</p>
        <%= link_to "Top", root_url %>
      <% end %>
    <% else %>
      <p>No Question</p>
    <% end %>
    </div>
  </div>
<% else %>
  <div class="container">
    <div class="content-center brand">
      <h3>WELLCOME TO</h3>
      <h1>FLASH CARDS</h1>
    </div>
  </div>
<% end %>