<% if user_signed_in? %>
  <div class="container">
    <div class="content-center brand">
      <h1>FLASH CARDS</h1>
      <h1>Hello <%= current_user.name %> !</h1>
      <p>index:signed in</p>
      <p>
        <span class="badge">Card <%= @count_cards %></span>
        <span class="badge">Ring <%= @count_rings %></span>
      </p>
      <p>
        <% @count_cards_of_rings.each do |f| %>
          <span class="badge">R<%= f[0] %> <%= f[1] %></span>
        <% end %>
      </p>
      <p>last_card: <% if !@card.nil? %><%= @card.content_1 %><% end %></p>
      <p>last_ring: <% if !@ring.nil? %><%= @ring.ring_name %><% end %></p>
      <p>last_check_ring: <% if !@check.nil? %><%= Ring.find_by(id: @check.ring_id).ring_name %><% end %></p>
      <p>current_check: <%= @current_check %></p>
      
    </div>
  </div>
<% else %>
  <div class="container">
    <div class="content-center brand">
      <h3>WELLCOME TO</h3>
      <h1>FLASH CARDS</h1>
      <div class="btn" style="background-color: rgba(255, 167, 167, .5)">
        <i class="now-ui-icons files_paper"></i>
        <%= link_to "Sign up", new_user_registration_path %>
      </div>
      <div class="btn" style="background-color: rgba(255, 167, 167, .5)">
        <i class="now-ui-icons files_paper"></i>
        <%= link_to "Sign in", new_user_session_path %>
      </div>
    </div>
  </div>
<% end %>