<% if user_signed_in? %>
  <div class="container">
    <div class="content-center brand">
      <h1>FLASH CARDS</h1>
      <h2>Hello <%= current_user.name %>!</h2>
      <p>
        <span class="badge">Card <%= @count_cards %></span>
        <span class="badge">Ring <%= @count_rings %></span>
      </p>
    </div>
  </div>
<% else %>
  <div class="container">
    <div class="content-center brand">
      <h3>WELLCOME TO</h3>
      <h1>FLASH CARDS</h1>
      <div class="btn" style="background-color: rgba(255, 167, 167, .5)">
        <i class="now-ui-icons business_badge"></i>
        <%= link_to "Sign up", new_user_registration_path %>
      </div>
      <div class="btn" style="background-color: rgba(255, 167, 167, .5)">
        <i class="now-ui-icons ui-1_lock-circle-open"></i>
        <%= link_to "Sign in", new_user_session_path %>
      </div>
    </div>
  </div>
<% end %>