<% if user_signed_in? %>
  <div class="row">
    <% breadcrumb :check_logs %>
    <aside class="col-md-3">
      <h4>Check Log</h4>
      <h5>Ring Filter</h5>
      <%= form_tag(check_logs_index_path,:method => 'get',class: 'form-group content-center' ) do %>
        <%= text_field_tag :filter ,'', class: 'form-control' %>
        <%= submit_tag 'Filter', :name => nil , class: 'btn btn-primary btn-round' %>
      <% end %>
      <p>Filter: <%= @filter_condition %>[<%= @check_logs_count -%>]</p>
    </aside>
    <div class="col-md-9">
      <div class="table-responsive">
        <table class="table table-bordered">
            <div class="thead">
              <tr>
                <th>No.</th>
                <th>Ring</th>
                <th>Try No.</th>
                <th>Question</th>
                <th>Correct</th>
                <th>False</th>
                <th>Date</th>
              </tr>
            </div>
            <div class="tbody">
              <% @check_logs.each do |log| %>
                <tr>
                  <td><%= log.period %></td>
                  <td><%= Ring.find_by(id: log.ring_id).ring_name %></td>
                  <td><%= log.period_of_ring %></td>
                  <td><%= log.total_question %></td>
                  <td><%= log.correct_question %></td>
                  <td><%= log.false_question %></td>
                  <td><%= log.created_at %></td>
                </tr>
              <% end %>
            </div>
        </table>
        <%= paginate @check_logs %>
      </div>
    </div>
  </div>
<% else %>
  <div class="center jumbotron">
    <div class="text-center">
      <h1>Welcome to the Flashcard</h1>
      <%= link_to 'Sign up now!', signup_path, class: 'btn btn-lg btn-primary' %>
    </div>
  </div>
<% end %>