<div class="row">
  <% cards.each do |card| %>
    <% user = card.user %>
      <div class="row col-md-12" style="vertical-align: middle;">
        <div class="col-md-8" style="text-align: left; vertical-align: middle;">
            <span class="text-left">No.<%= card.id %> by <%= user.name %> created at <%= card.created_at %> </span>
        </div>
        <div class="col-md-2">
          <%= link_to 'Edit', edit_card_path(card), class: 'btn btn-warning btn-ms btn-block', style: 'padding: 6px 6px' %>
        </div>
        <div class="col-md-2">
          <%= link_to 'Delete', card, method: :delete, data: { confirm: "You sure?" }, class: 'btn btn-danger btn-ms btn-block', style: 'padding: 6px 6px' %>
        </div>
      </div>
      <div class="row col-md-12" style="vertical-align: middle;">
        <div class="col-md-5" style="text-align:left; background-color: #999; padding: 10px 10px">
          <div class= "card card-body" style="color:#888; margin: 0px" >○ <%= card.content_1 %></div>
        </div>
        <div class="col-md-1"> </div>
        <div class="col-md-5" style="text-align:left; background-color: #999; padding: 10px 10px">
          <div class= "card card-body" style="background-color: #eef; color:#888; margin: 0px" >○ <%= card.content_2 %></div>
        </div>
        <div class="col-md-1"> </div>
      </div>
  <% end %>
  <%= paginate cards %>
</div>