<% breadcrumb :cards %>
<% if user_signed_in? %>
  <div class="row">
    <aside class="col-md-3">
      <h5>Card Search</h5>
      <%= form_tag(cards_path,:method => 'get',class: 'form-group content-center' ) do %>
        <%= text_field_tag :search ,'', class: 'form-control' %>
        <%= submit_tag 'Search', :name => nil , class: 'btn btn-primary btn-round' %>
      <% end %>
      <p>Search: <%= @search_word %>[<%= @search_count -%>]</p>

      <%= render 'cards/card_form' %>
      <%= link_to 'New Card(New window)', new_card_path, class: 'btn btn-info btn-block' %>
      <%= link_to 'New Card(Step by step)', cards_front_path, class: 'btn btn-info btn-block' %>
    </aside>
    <div class="col-md-9">
      <%= render 'cards/cards', cards: @cards %>
    </div>
  </div
<% else %>
  <div class="center jumbotron">
    <div class="text-center">
      <h1>Welcome to the Flashcard</h1>
      <%= link_to 'Sign up now!', signup_path, class: 'btn btn-lg btn-primary' %>
    </div>
  </div>
<% end %>