<% breadcrumb :cards %>
<% if user_signed_in? %>
  <div class="row">
    <aside class="col-md-3">
      <h5>Card Search</h5>
      <%= form_tag(cards_path,:method => 'get',class: 'form-group content-center' ) do %>
        <%= text_field_tag :search ,@search_word, class: 'form-control' %>
        <%= select :ring,:id, @ring_list.map{|t| [t.ring_name, t.id]}, :include_blank => "(All)" ,:selected	=> @ring_filter %>
        <%= submit_tag 'Search', :name => nil , class: 'btn btn-primary btn-round' %>
      <% end %>
      <p style="margin-bottom: 0rem">Search: <%= @search_count -%></p>

      <%= render 'cards/card_form' %>
      <%= link_to 'New Card', new_card_path, class: 'btn btn-info btn-block' %>
      <%= link_to 'New Card(Steps)', cards_front_path, class: 'btn btn-info btn-block' %>
    </aside>
    <div class="col-md-9">
      <%= render 'cards/cards', cards: @cards %>
    </div>
  </div
<% else %>
  <div class="center jumbotron">
    <div class="text-center">
      <h1>Welcome to the Flashcard</h1>
      <%= link_to 'Sign up now!', signup_path, class: 'btn btn-lg btn-primary' %>
    </div>
  </div>
<% end %>