<% if user_signed_in? %>
  <div class="center jumbotron", style="background-color: rgba(120, 0, 0, .5); margin-top: 3rem">
    <% breadcrumb :ring, @ring %>
        <%= form_for(@ring) do |f| %>
          <div class="form-group">
            <span style="color:#ffffff">No.<%= f.label :ring_name, @ring.id %></span><br />
            <%= f.text_area :ring_name, class: 'form-control form-control-lg', placeholder: "Input a name of ring.", :size=>"40x5", style: "background-color: rgba(255, 167, 167, .5); margin-top: 1rem" %>
            <%= f.submit 'OK', class: 'btn btn-primary btn-block' %>
          </div>
        <% end %>
    <%= link_to "Back", :back %>
    <%= render 'cards/cards_select', ring: @ring, cards: @cards %>
  </div>
<% else %>
  <div class="center jumbotron">
    <div class="text-center">
      <h1>Welcome to the Flashcard</h1>
      <%= link_to 'Sign up now!', signup_path, class: 'btn btn-lg btn-primary' %>
    </div>
  </div>
<% end %>